@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">

               <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>

                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Profile", "ProfileInfo", "Account", null, htmlAttributes: new { @class = "dropdown-item", id = "UserDetailLink" })</li>
                    <li>@Html.ActionLink("Log Out", "Logout", "Account", null, htmlAttributes: new { @class = "dropdown-item", id = "LogoutLink" })</li>
                </ul>

            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="http://localhost:61468/Account/VerifyMail">Registration</a></li>
                <li><a href="http://localhost:61468/Account/Login">Log In</a></li>
            </ul>
        </li>
    </ul>
}


