@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to FinTaxEasy</h1>
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/images/logo-1.jpg" />
        </div>
        <div class="col-md-10">
            <p class="lead">FintaxEasy has evolved from a humble beginning in 2021 to a well-established and acclaimed financial services company in India. Driven by Excellence, Quality, Integrity, Challenges and Opportunities FintaxEasy has grown from strength to strength in the Financial Products and Services across boundaries into the regulated and semi-regulated markets of India.</p>
            <p><a href="https://fintaxeasy.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tax Management</h2>
        <p>
            Tax management broadly refers to the management of finances, for the purpose of paying taxes. It deals with filing of Returns in time, getting the accounts audited, deducting tax at source etc. Tax Management helps in avoiding payment of interest, penalty, and prosecution.
        </p>
        <p><a class="btn btn-default" href="https://fintaxeasy.com/services/tax-management/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Finance Management</h2>
        <p>Financial management is about controlling the flow of money in and out of the organization. Every business needs to sell products or services, pay expenses, balance the books, and file taxes. Financial management encompasses all of this, along with more complex processes, such as paying employees, buying supplies, and submitting reports to government agencies to show they’re obeying applicable laws and regulations. The act of overseeing all these transactions for a business is what we mean when we talk about a company’s financial management.</p>
        <p><a class="btn btn-default" href="https://fintaxeasy.com/services/finance-management/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Integrated Support</h2>
        <p>Integrated Finance Managed Services enables you to meet this challenge; transforming your finance function and pairing it with industry leading expertise and technology. Integrated Finance Managed Services allows you to focus your efforts where it matters to achieve your business strategy, while Fintaxtree takes care of your technology, bookkeeping, compliance needs and improving your processes.</p>
        <p><a class="btn btn-default" href="https://fintaxeasy.com/services/integrated-support/">Learn more &raquo;</a></p>
    </div>
</div>